*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header{
    margin-left: -120px;
    padding: 15px;
    background-color: rgb(255, 115, 0);
    display: flex;
    justify-content: space-around;
    div{
        align-content: center;
    }
    a{
        text-decoration: none;
        color: white;
        padding: 0 5px;
    }
    img{
        width: 150px;
    }
    span{
        color: white;
        align-content: center;
    }
}
/*end header*/
main{
    section{
        padding: 3% 15% 10% 15%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        img{
            width: 400px;
        }
    }
}

.pos-top-left{
    position: top left;
}

.pos-top-center{
    position: top center;
}
.pos-top-right{
    position: top right;
}
.pos-bottom-left{
    position: bottom left;
}
.pos-bottom-center{
    position: bottom center;
}
.pos-bottom-right{
    position: bottom right;
}
/*end position*/
.brand{
    color: gray;
    font-size: 14px;
}

.pos-top-left:hover{
    content: url(./img/1b.webp);
}
.pos-top-center:hover{
    content: url(./img/2b.webp);
}
.pos-top-right:hover{
    content: url(./img/3b.webp);
}
.pos-bottom-left:hover{
    content: url(./img/4b.webp);
}
.pos-bottom-center:hover{
    content: url(./img/5b.webp);
}
.pos-bottom-right:hover{
    content: url(./img/6b.webp);
}
/*end hover*/

.img-container{
    position: relative;
}
.heart{
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 50px;
}
/*end heart*/

.price{
    color: red;
}
.sale-container{
    position: absolute;
    bottom: 10%;
    left: 1%;
}
.sale{
    background-color: red;
    padding: 5px 10px;
    color: white;
}
.sostenibility{
    padding: 5px 10px;
    color: white;
    background-color: green;
}
/*end main*/
footer{
    display: flex;
    background-color: rgb(10, 10, 10);
    color: white;
    justify-content: space-between;
    padding: 30px 15%;
}
h3{
    padding-bottom: 10px;
}
.info>a{
    padding-right: 5px;
    text-align: center;
}
.social>i{
    font-size: 25px;
    padding-right: 5px;
    padding-top: 10px;
    text-align: center;
}