*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header{
    margin-left: -120px;
    padding: 15px;
    background-color: orange;
    display: flex;
    justify-content: space-around;
    div{
        align-content: center;
    }
    a{
        text-decoration: none;
        color: white;
        padding: 0 5px;
    }
    img{
        width: 150px;
    }
    span{
        color: white;
        align-content: center;
    }
}

main{
    section{
        padding: 3% 15% 10% 15%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        img{
            width: 400px;
        }
    }
}

.pos-top-left{
    position: top left;
}
.pos-top-center{
    position: top center;
}
.pos-top-right{
    position: top right;
}
.pos-bottom-left{
    position: bottom left;
}
.pos-bottom-center{
    position: bottom center;
}
.pos-bottom-right{
    position: bottom right;
}

.brand{
    color: gray;
    font-size: 14px;
}